@import url("modern-normalize/modern-normalize.css");

:root {
  /* Typography */
  --font-monospace: "Reddit Mono", monospace;

  /* Color scheme */
  color-scheme: light dark;

  /* Colors */
  --color-base-black: #000;
  --color-base-white: #fff;
  --color-good-black: #121212;

  /* Primary */
  --color-primary-50: #e4f9ec; /* Lighter, almost white-green */
  --color-primary-100: #cbf2da; /* Very light green */
  --color-primary-200: #b2ecc9; /* Light green */
  --color-primary-300: #7de3a5; /* Bright light green */
  --color-primary-600: #22b573; /* New primary color */
  --color-primary-700: #1a9d62; /* Slightly darker */
  --color-primary-800: #13854d; /* Even darker green */

  /* Gray */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  /* Error */
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-300: #fda29b;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;

  /* Display xs */
  --font-display-xs-semibold: 600 24px/32px var(--font-monospace);

  /* Display md */
  --font-display-md-semibold: 600 36px/44px var(--font-monospace);

  /* Text lg */
  --font-text-lg-regular: 400 18px/28px var(--font-monospace);
  --font-text-lg-semibold: 600 18px/28px var(--font-monospace);
  --font-text-lg-bold: 700 18px/28px var(--font-monospace);

  /* Text md */
  --font-text-md-regular: 400 16px/24px var(--font-monospace);
  --font-text-md-medium: 500 16px/24px var(--font-monospace);
  --font-text-md-semibold: 600 16px/24px var(--font-monospace);

  /* Text sm */
  --font-text-sm-regular: 400 14px/20px var(--font-monospace);
  --font-text-sm-medium: 500 14px/20px var(--font-monospace);
  --font-text-sm-semibold: 600 14px/20px var(--font-monospace);

  /* Text xs */
  --font-text-xs-regular: 400 12px/18px var(--font-monospace);
  --font-text-xs-medium: 500 12px/18px var(--font-monospace);
  --font-text-xs-semibold: 600 12px/18px var(--font-monospace);

  /* Shadow xs */
  --shadow-xs: 0px 1px 2px rgb(16 24 40 / 5%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  background-color: var(--color-good-black); /* Set the background color */
  color: var(--color-base-white); /* Set the text color */
  font-family: var(--font-monospace);
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root {
  height: 100%;
  isolation: isolate;
}
