.root {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.left {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
